<section class="favorit-section">
  <div class="container">
    <h2 class="favorite-title">Some of Our Favorites</h2>
    <p class="favorite-text">Looking for something delicious?</p>
    <ul class="favorite-link">
      <li class="favorit-link-li">
        <a class="link-li-a" href=""
          ><img src="./img/gamburger.png" alt="photo-gamburger"
        /></a>
      </li>
      <li class="favorite-link-li">
        <a class="link-li-a" href=""
          ><img src="./img/pasta.png" alt="photo-pasta"
        /></a>
      </li>
      <li>
        <a class="link-li-a" href=""
          ><img src="./img/pizza.png" alt="photo-pizza"
        /></a>
      </li>
      <li class="favorite-link-li">
        <a class="link-li-a" href=""
          ><img src="./img/chicken.png" alt="photo-chickec"
        /></a>
      </li>
      <li class="favorite-link-li">
        <a class="link-li-a" href=""
          ><img src="./img/salat-second.png" alt="photo-salat"
        /></a>
      </li>
      <li class="favorite-link-li">
        <a class="link-li-a" href=""
          ><img src="./img/borshch.png" alt="photo-borshch"
        /></a>
      </li>
    </ul>
  </div>
</section>
