<footer class="footer">
    <div class="container">
        <div class="row-one">
            <div class="footer-nav-box">
                <a href="./index.html"><img src="./img/logo.png" alt="logo" /></a>
                <ul class="footer-list">
                    <li><a href="" class="footer-link">Home</a></li>
                    <li><a href="" class="footer-link">About</a></li>
                    <li><a href="" class="footer-link">Service</a></li>
                    <li><a href="" class="footer-link">Menu</a></li>
                    <li><a href="" class="footer-link">Contact</a></li>
                </ul>
            </div>
            <div class="box">
                <strong class="footer-subsc-call">Subscribe</strong>
                <form class="footer-form">
                    <input type="email" placeholder="Enter your email" class="footer-input" /><button type="submit"
                        class="footer-btn">Subscribe</button>
                </form>
                <p class="footer-text">
                    By subscribing you agree to with our
                    <a href="" class="footer-text-link">Privacy Policy</a>
                </p>
            </div>
        </div>
        <div class="policy-core-box">
            <ul class="policy-list">
                <li><a href="" class="footer-policy-link">Privacy Policy</a></li>
                <li><a href="" class="footer-policy-link">Terms of Service</a></li>
                <li><a href="" class="footer-policy-link">Cookies Settings</a></li>
            </ul>
            <p class="footer-rights-text">2022 FoodSta. All right reserved.</p>
        </div>
    </div>
</footer>